version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: futoru-db
    environment:
      MYSQL_DATABASE: futoru_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: